@mixin gradientImageOverlay($url) {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 79.93%, #09090c 100%),
    linear-gradient(90deg, #09090c 0%, rgba(0, 0, 0, 0) 51.76%),
    url($url),
    lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
